@charset "UTF-8";

footer{
    background-color: #363636;
    color: white;
    text-align:center;
    font-size: 0.8em;
    padding: 4px;
}
footer > p > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color:var(--cor1);
}
